html
  head
    title Infinigon #{room}
    link(rel='stylesheet', href='/components/infinigon-client/css/infinigon.css')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/socket.io-client/socket.io.js')
    script(src='/components/infinigon-client/js/index.js')
    script(src='/components/infinigon-client/js/api.js')
    script(src='/components/infinigon-client/js/board.js')
    script(src='/components/infinigon-client/js/camera.js')
    script(src='/components/infinigon-client/js/mouse.js')
    script(src='/components/infinigon-client/js/piece.js')
  body